<header>
  <div class="azhagi-container">
    <div class="azhagi-header">
      <div>
        <span class="hashtag">#</span>
        <span class="azhagi-title">Azhagi</span>
      </div>
      <div>
      <span>
        <span class="bitmap"><i class="fab fa-instagram"></i></span>
        <span class="insta-store">Insta Store</span>
      </span>
        <span class="spacing">
        <span class="currency">Currency</span>
        <span class="inr">INR</span>
        <span claass="drop-down"><i class="fas fa-caret-down"></i></span>
      </span>
        <span class="spacing">
        <span class="contact-us">Contact us</span>
      </span>
        <span class="spacing">
        <span>|</span>
      </span>
        <span class="spacing">
        <span class="your-account">Your account</span>
        <span class="drop-down"><i class="fas fa-caret-down"></i></span>
      </span>
      </div>
    </div>
    <div class="line-gray"></div>
    <div class="azhagi-menu">
      <div>
        <span class="search"><i class="fas fa-search"></i></span>
      </div>
      <div>
        <span class="sarees-fabrics-skirt">SAREES</span>
        <span class="sarees-fabrics-skirt">FABRICS</span>
        <span class="sarees-fabrics-skirt">SKIRTS</span>
      </div>
      <div>
        <span class="items">0 Items</span>
        <span class="search"><i class="fas fa-shopping-cart"></i></span>
      </div>

    </div>
  </div>
</header>
<app-slider class="container"></app-slider>
<app-collections class="collection"></app-collections>
<app-best-of-azhagi ></app-best-of-azhagi>
