<div>
  <div class="text-center">
    <h1>BEST OF AZHAGI'S</h1>
    <div class="container" style="width: 800px;">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum ligula ultrices volutpat consequat. In hac habitasse platea dictumst. Sed varius sit amet tellus ac posuere. Etiam scelerisque molestie erat, sit amet gravida magna vulputate non. Cras leo nulla, euismod nec euismod rutrum, finibus vitae nisl.</p>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="../../assets/img/6.png" alt="Card image cap">
            <div class="card-body">
              <strong class="card-title">Mangalagiri silk cotton saree with zari border</strong>

            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="../../assets/img/7.png" alt="Card image cap">
            <div class="card-body">
              <strong class="card-title">Mangalagiri silk cotton saree with zari border</strong>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="../../assets/img/8.png" alt="Card image cap">
            <div class="card-body">
              <strong class="card-title">Mangalagiri silk cotton saree with zari border</strong>

            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="../../assets/img/5.png" alt="Card image cap">
            <div class="card-body">
              <strong class="card-title">Mangalagiri silk cotton saree with zari border</strong>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
