<div>
  <div class="text-center">
    <h1>BEST OF AZHAGI'S</h1>
    <div class="container" style="width: 800px;">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum ligula ultrices volutpat consequat. In hac habitasse platea dictumst. Sed varius sit amet tellus ac posuere. Etiam scelerisque molestie erat, sit amet gravida magna vulputate non. Cras leo nulla, euismod nec euismod rutrum, finibus vitae nisl.</p>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
