<div>
  <div class="text-center">
    <div class="best-of-azhagi-s">Best of Azhagi’s</div>
    <div class="container" style="width: 800px;">
      <div class="lorem-ipsum-dolor-si-copy-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus nunc dui, sed dapibus sapien congue at.</div>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="../../assets/img/6.png" alt="Card image cap">
            <div class="card-body">
              <div class="mangalgiri-silk-cott">Mangalagiri silk cotton saree with zari border</div>
              <div class="inr-3300">INR 3300</div>
              <div class="fav-list">
                <span class="wishlist">WISH LIST</span>
                <span>|</span>
                <span class="add-to-bag">ADD TO BAG</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="../../assets/img/7.png" alt="Card image cap">
            <div class="card-body">
              <div class="mangalgiri-silk-cott">Mangalagiri silk cotton saree with zari border</div>
              <div class="inr-3300">INR 3300</div>
              <div class="fav-list">
                <span class="wishlist">WISH LIST</span>
                <span>|</span>
                <span class="add-to-bag">ADD TO BAG</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="../../assets/img/8.png" alt="Card image cap">
            <div class="card-body">
              <div class="mangalgiri-silk-cott">Mangalagiri silk cotton saree with zari border</div>
              <div class="inr-3300">INR 3300</div>
              <div class="fav-list">
                <span class="wishlist">WISH LIST</span>
                <span>|</span>
                <span class="add-to-bag">ADD TO BAG</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="../../assets/img/5.png" alt="Card image cap">
            <div class="card-body">
              <div class="mangalgiri-silk-cott">Mangalagiri silk cotton saree with zari border</div>
              <div class="inr-3300">INR 3300</div>
              <div class="fav-list">
                <span class="wishlist">WISH LIST</span>
                <span>|</span>
                <span class="add-to-bag">ADD TO BAG</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
