<div class="container" style="margin-bottom:50px">
  <div class="text-center">
    <div class="get-in-touch">Get in touch</div>
    <div class="contact-us-for-offer">Contact us for offers, discount and more</div>
  </div>
  <div class="offset-4" style="margin-top: 30px">
    <input class="enter-your-e-mail-he" type="email" placeholder="Enter yor e-mail here">
    <span class="contact-us">Contact us</span>
  </div>
</div>

<div class="container azhagi-footer-container">
  <div class="azhagi-footer">
    <div>
      <span class="hash-footer">#</span>
      <span class="azhagi">Azhagi</span>
    </div>
    <div>
    <span>
      <span class="shipping-payment">Shipping & Payment</span>
    </span>
    <span class="spacing">
      <span class="returns-exchanges">Returns & Exchanges</span>
    </span>
    <span class="spacing">
      <span class="privacy-policy">Privacy Policy</span>
    </span>
    <span class="spacing">
      <span class="contact-us-1">Contact us</span>
    </span>
     <!-- <span class="spacing">
      <span class="your-account">Your account</span>
      <span class="drop-down"><i class="fas fa-caret-down"></i></span>
    </span>-->
    </div>
    <div>
      <span class="spacing">
        <span class="azhagi-all-r"> © 2018 #azhagi All Rights Reserved</span>
      </span>
      <span class="spacing">
        <span class="soc-icons"><i class="fab fa-facebook-f"></i></span>
        <span class="soc-icons"><i class="fab fa-instagram"></i></span>
        <span class="soc-icons"><i class="fab fa-twitter"></i></span>
      </span>
    </div>
  </div>
</div>

