/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
*{
  font-family:"Abril Fatface";
  letter-spacing: 1px;
}
.carousel-control-next-icon{
  position:relative !important;
  top:-19% !important;
  background-image: url('../src/assets/img/next.png') !important;
  height: 60px;
  width: 38px;
}

.carousel-control-prev-icon{
  position:relative !important;
  top:-19% !important;
  background-image: url('../src/assets/img/previous.png') !important;
  height: 60px;
  width: 38px;
}
.backroundblur{
  background: linear-gradient(180deg, rgba(31,28,44,0.7) 0%, #000000 100%);
}

.collection{
  position: relative;
  top: -245px;
}
#collection .card-body{
  text-align: center;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1.25rem;
  position: relative;
  color: white;
  top: -300px;
  opacity: 0;
}
#collection .card-body:hover{
  text-align: center;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1.25rem;
  position: relative;
  color: white;
  top: -300px;
  opacity: 1;
  display: block;
}
/*#collection card:hover + .card-body{
  display:block;
  text-align: center;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1.25rem;
  position: relative;
  color: white;
  top: -300px;
}*/
#collection card:hover{
  display:none;
}
.bestof{
  position:relative;
  top:-170px;
}

.bestof .card-title{
  padding:0% 6%;
}
