.the-collection {
  /*height: 3.02%;
  width: 31.56%;*/
  color: #000000;
  font-family: "Abril Fatface";
  font-size: 50px;
  line-height: 98px;
  text-align: center;
  text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
.lorem-ipsum-dolor-si-copy {
  /*height: 1.88%;
  width: 26.56%;*/
  color: #4A4A4A;
  font-family: "Avenir Next";
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 50px;
}
