<div class="container" id="collection">
  <div class="text-center">
    <div class="the-collection">The collection</div>
    <div style="color:#4A4A4A" class="lorem-ipsum-dolor-si-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus nunc dui, sed dapibus sapien congue at.</div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/1.png" alt="Card image cap">
      </div>
      <div class="card-body">
        <h3 class="card-title">Summer Collection</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/2.png" alt="Card image cap">
      </div>
      <div class="card-body">
        <h3 class="card-title">Summer Collection</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top"  src="../../assets/img/3.png" alt="Card image cap">
      </div>
      <div class="card-body">
        <h3 class="card-title">Summer Collection</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top"  src="../../assets/img/4.png" alt="Card image cap">
      </div>
      <div class="card-body">
        <h3 class="card-title">Summer Collection</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>


